vendor-prefix ?= webkit moz official
support-for-ie ?= true
@import 'nib'
@import 'rupture'
@import 'functions'

rupture.enable-em-breakpoints = true

normalize-html5()

*
    box-sizing border-box
    font-family 'Raleway', Arial, sans-serif
    
body
    padding 0
    margin 0
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    

::selection 
    background rgba(26, 188, 156, .5)

::-moz-selection
    background rgba(26, 188, 156, .5)

.hidden
    display none

header
    top 0
    transition all .2s ease-in-out !important
    z-index 999
    color #fff 
    background-color rgba(0, 0, 0, .8)
    width 100%
    height 2.5em
    font-size 1.5em
    position fixed
    text-align left
    
    &:before
        content ""
        display inline-block
        vertical-align middle
        width 0
        margin-right -.25em
        height 100%
    
    .header
        display inline
        vertical-align middle
        white-space normal
        padding-left 4px    
        a
            font-weight lighter
            color #fff
            cursor pointer
            transition: .2s color ease,
                        .2s filter ease,
                        .2s -webkit-filter ease

            &:hover
                color #1abc9c
                
                img
                    webkit-filter brightness(-80%)
                    filter: brightness(-80%)
            &:first-child
                font-size 1.3em

        nav ul
            list-style-type none
            margin-top -50px

            li
                display inline
 
                &:first-child
                    padding-left 80%
                    
                    +from-width(1000px)
                        padding-left 75%
                        
                    +between(400px, 999px)
                        padding-left 70%
                        
                    +between(399px, 699px)
                        padding-left 60% 
                    
                    +mobile()
                        padding-left 30%
                        
                    +above(1400px)
                        padding-left 83% 

                &:last-child a
                    font-size 1em 
                    border 1px solid #1abc9c
                    padding 7px 15px
                    margin-left 10px

.title
    transition: .2s color ease
    
    &:hover
        color #1abc9c

.logo
    margin-right 10px
    height auto
    padding 0 0 0 1%
    -webkit-filter invert(100%)
    filter invert(100%)
    cursor pointer
            
.nav-up
    top -2.5em

section.slider
    img
        position relative
        height auto
        width 100%
        max-width 100%
        
    h2
        color #FFF
        font-weight lighter
        font-size 3em   
        position absolute
        top 200px
        left 0
        margin 10px
        padding 10px
        background rgba(26, 188, 156, .5)

a
    text-decoration none
    color #000
    font-size 1.2em 
    transition .3s all ease-out

    &:hover
        color #1abc9c
    
.container
    text-align center
    > section.main
        margin 0 auto

.form
    position relative

#signup-form
    position absolute 
    display block     
    width 40em
    height 16em 
    background rgba(0, 0, 0, .5)
    margin -600px 30% !important
    
    +between(900px, 1300px)
        width 40em !important
        height 12.3em 
        margin -450px 6% !important
        padding 20px 20px !important
        
        #name
            width 32em !important
        #email, #submit
            width 33.5em !important
        #submit
            margin-top 5.99em !important
    
    +mobile()
        width 20em !important
        height 12.3em 
        margin -120px 6% !important
        padding 20px 20px !important
        
        #name
            width 14em !important
        #email, #submit
            width 15.5em !important
        #submit
            margin-top 5.99em !important
            
    +tablet()
        width 50em !important
        height 12.3em 
        margin -400px 6% !important
        padding 20px 20px !important
        
        #name
            width 40.5em !important
        #email, #submit
            width 42em !important
        #submit
            margin-top 5.99em !important
            
    +between(400px, 999px)
        width 40em !important
        height 12.3em 
        margin -320px 6% !important
        padding 20px 20px !important
        
        #name
            width 32em !important
        #email, #submit
            width 33.5em !important
        #submit
            margin-top 5.99em !important
            
    +between(399px, 699px)
        width 34.5em !important
        height 12.3em 
        margin -300px 6% !important
        padding 20px 20px !important
        
        #name
            width 27em !important
        #email, #submit
            width 28.5em !important
        #submit
            margin-top 5.99em !important
    #name,
    #email
        position absolute
        display: block
        margin: 0
        width: 28.5em
        font-family: sans-serif
        font-size: 18px
        appearance: none
        box-shadow: none
        border-radius: none
        padding: 10px;
        border: solid 3px #969696
        transition: border 0.3s;
        
        &:nth-child(2)
            margin-top 3em 
            width 30em 

        &:focus
            outline none
            border: solid 3px #1abc9c
            
    #submit
        position relative
        display: inline-block;
        padding: 15px 45px;
        font-size: 18px
        width 30em
        height 50px 
        margin-top 20%
        appearance: none;
        box-shadow: none;
        border-radius: 0;
        color #fff 
        background-color #1abc9c
        border solid 3px #969696
        transition all .3s ease
        
        &:focus
            outline: none
            
        &:hover
            border solid 3px #1abc9c
            
        &:active
            background-color #1abc84
            border solid 3px #969696
    
    +from-width(1000px)
        padding 50px
        margin -500px 45% 
        
    +between(400px, 999px)
        padding 50px
        margin -500px 45%
        
    +between(399px, 699px)
        padding 50px
        margin -500px 45%
    
    +mobile()
        padding 50px
        margin -100px -20px
        
        #name
            width 250px 
        
        
    +above(1400px)
        padding 50px
        margin -500px 45%
    
    #name
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-appearance: textfield;
    
    #submit
        -webkit-appearance: button;
        cursor: pointer;
        
        &::-moz-focus-inner
            padding: 0;
            border: 0;

    
section.main
    // background #999 

    .dog-image
        display inline-block
        // border 2px solid #f00
        padding 15px
        margin 20px

        img
            width 300px
            height 300px
            display block
            border 2px solid #fff
            border-radius 50%

        figcaption
            text-align center



.footer
    margin-top 40px
    bottom 0
    position relative
    display inline-block
    width 100%
    font-weight lighter
    color #fff
    background rgba(0, 0, 0, .9)
    height 100%
    font-size 1.5em
    vertical-align middle
    
    p
        line-height 1.5 
    
    p.author
        position absolute
        display inline-block
        right 0
        margin-right 10px
        font-size .8em
    

    p.rights-reserved
        text-align center
        font-size .7em
        padding-top 1em

    a
        position absolute
        padding 17px 10px 
        float left
        margin-right -.25em
        height 100%

        span
            color #fff
            
    +between(200px, 999px)
        p
            font-size .7em
            margin-left 30%
            
            &.author
                display inline-block
                left 0 
                
            &.rights-reserved
                padding-left 2em 
                line-height 5
                bottom 0
                left 0
                display inline-block
                
    +mobile()
        p
            margin-left 20%
            
            &.rights-reserved
                padding-left 0 
                margin-left 3.5em
                
            &.author
                margin-left 3% 
                text-align center

        .copyright
            display none
