block footer
    footer.footer
        p.author Designed & created by Yakovenko Inc. <br>
        .copyright
            a(href='#')
                img.logo(src='images/icons/dog.png')
                span.title Dogs 
        p.rights-reserved Dogs &copy; 2015, All Rights Reserved