doctype
head
	meta(charset="UTF-8")
	title GreatDog
	link(rel='stylesheet' href='stylesheets/main.css')
body
	header
		.header This is my header!

	section.slider
		img(src='images/header2.jpg')
		h2 Here is the main title of the page

	block content