extends header

block content
	.container
		article: p.intro-text:  <span class='bold'>Lorem ipsum dolor sit amet, consectetur 
			| adipisicing elit. </span><br><br>
			| In fugiat voluptatem, numquam. Illo facilis possimus explicabo,
			| ipsam eaque! Incidunt sequi laboriosam dolore, vitae in qui
			| delectus, veniam voluptate hic officiis suscipit amet
			| repellendus vel error voluptatem nobis dignissimos natus
			| possimus debitis molestiae accusantium beatae. Sed voluptates
			| quos atque blanditiis nesciunt odio omnis eos laboriosam at
			| laudantium, sint voluptatum magnam alias, aliquam nobis optio
			| explicabo rem harum? Voluptas nam at, sed, quibusdam nobis
			| blanditiis vero eligendi ad, cupiditate, illo ab deserunt.
			| Tempora aut numquam ea qui quisquam adipisci animi sequi quidem
			| laborum, neque ut perferendis et quam earum quod unde ducimus!

		section.main
			h6.hidden Dog breeds
			- var arr=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
			- for (var i = 0; i < 10; i++)
					figure.dog-image
						a(href='#')
							p: img(src='images/1.jpg')
							figcaption This is a super dog.


	include footer
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src='js/all.min.js')
		