block signup-form
    .form
        form#signup-form
            input#name(placeholder='Your name...' tabindex='1')
            input#email(placeholder='Your email...' tabindex='2')
            button#submit Sign up